In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd /content/drive/MyDrive/ProyCentolla/PCentolla

/content/drive/MyDrive/ProyCentolla/PCentolla

In [3]:
import pandas as pd

archivos = [
    '2019_0304_desembarque_total_por_puerto.xlsx',
    '2020_0304_desembarque_total_por_puerto.xlsx',
    '2021_0304_desembarque_total_por_puerto.xlsx',
    '2022_0304_desembarque_total_por_puerto.xlsx',
    '2023_0304_desembarque_total_por_puerto.xlsx',
    '2024_0304_Desembarque-total-por-puerto.xlsx',
]

for archivo in archivos:
    print(f"\n=== {archivo} ===")
    df = pd.read_excel(f'data/raw/{archivo}', nrows=8)
    print(df.head())

=== 2019_0304_desembarque_total_por_puerto.xlsx ===
  XV REGIÓN, DESEMBARQUE TOTAL AÑO 2019 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                     POR ESPECIE Y MES        NaN        NaN        NaN
1                        (En toneladas)        NaN        NaN        NaN
2                                   NaN        NaN        NaN        NaN
3                               ESPECIE        ENE        FEB        MAR
4                 Huiro Negro O Chascon   26.59582    63.1512   143.4148

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        ABR        MAY        JUN        JUL        AGO        SEP
4   61.41848    60.0724          -    29.8572          -    23.3774

  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         OCT         NOV         DIC       Total
4           -    19.16016      13.604   440.65146

=== 2020_0304_desembarque_total_por_puerto.xlsx ===
  XV REGIÓN, DESEMBARQUE TOTAL AÑO 2020 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                     POR ESPECIE Y MES        NaN        NaN        NaN
1                        (En toneladas)        NaN        NaN        NaN
2                                   NaN        NaN        NaN        NaN
3                               ESPECIE        ENE        FEB        MAR
4                 Huiro Negro O Chascon         41         13          -

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        ABR        MAY        JUN        JUL        AGO        SEP
4         22         35          -          -          -          9

  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         OCT         NOV         DIC       Total
4           5           7           6         138

=== 2021_0304_desembarque_total_por_puerto.xlsx ===
  XV REGIÓN, DESEMBARQUE TOTAL AÑO 2021 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                     POR ESPECIE Y MES        NaN        NaN        NaN
1                        (En toneladas)        NaN        NaN        NaN
2                                   NaN        NaN        NaN        NaN
3                                   NaN        NaN        NaN        NaN
4                               ESPECIE        ENE        FEB        MAR

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        ABR        MAY        JUN        JUL        AGO        SEP

  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         OCT         NOV         DIC       Total

=== 2022_0304_desembarque_total_por_puerto.xlsx ===
  XV REGIÓN, DESEMBARQUE TOTAL AÑO 2022 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                     POR ESPECIE Y MES        NaN        NaN        NaN
1                        (En toneladas)        NaN        NaN        NaN
2                                   NaN        NaN        NaN        NaN
3                                   NaN        NaN        NaN        NaN
4                               ESPECIE        ENE        FEB        MAR

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        ABR        MAY        JUN        JUL        AGO        SEP

  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         OCT         NOV         DIC       Total

=== 2023_0304_desembarque_total_por_puerto.xlsx ===
  XV REGIÓN, DESEMBARQUE TOTAL AÑO 2023 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                     POR ESPECIE Y MES        NaN        NaN        NaN
1                        (En toneladas)        NaN        NaN        NaN
2                                   NaN        NaN        NaN        NaN
3                                   NaN        NaN        NaN        NaN
4                               ESPECIE        ENE        FEB        MAR

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        ABR        MAY        JUN        JUL        AGO        SEP

  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         OCT         NOV         DIC       Total

=== 2024_0304_Desembarque-total-por-puerto.xlsx ===
  XV REGIÓN, DESEMBARQUE TOTAL AÑO 2024 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                     POR ESPECIE Y MES        NaN        NaN        NaN
1                        (En toneladas)        NaN        NaN        NaN
2                                   NaN        NaN        NaN        NaN
3                                   NaN        NaN        NaN        NaN
4                               ESPECIE        ENE        FEB        MAR

  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1        NaN        NaN        NaN        NaN        NaN        NaN
2        NaN        NaN        NaN        NaN        NaN        NaN
3        NaN        NaN        NaN        NaN        NaN        NaN
4        ABR        MAY        JUN        JUL        AGO        SEP

  Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13
0         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN
4         OCT         NOV         DIC       Total

In [4]:
import pandas as pd

# Miramos las primeras 15 filas para identificar la estructura
archivo = 'data/raw/2023_0304_desembarque_total_por_puerto.xlsx'
df_prueba = pd.read_excel(archivo, nrows=15)
df_prueba

,"XV REGIÓN, DESEMBARQUE TOTAL AÑO 2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,POR ESPECIE Y MES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(En toneladas),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ESPECIE,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC,Total
5,Huiro Negro O Chascon,13,36,17,24,15,18,-,-,-,12,43,89,267
6,Huiro Palo,-,-,6,11,9,26,-,-,-,-,-,-,52
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Anchoveta,19127,2892,6461,999,88,-,-,1371,-,14340,26917,21030,93225
9,Atun Aleta Amarilla / Kahi Ave Ave,-,-,-,-,-,-,-,-,-,-,1,-,1
10,Bacalao De Profundidad,-,-,2,6,-,-,-,4,6,6,-,-,24
11,Bagre,-,-,-,-,-,-,-,-,-,-,-,1,1
12,Bonito,5,4,6,5,2,12,4,14,5,1,4,38,100
13,Caballa,-,-,-,-,-,-,2268,2334,5705,3027,1214,687,15235
14,Cojinoba Del Norte / Piafri,-,-,-,-,-,-,-,1,-,-,-,-,1

In [5]:
archivo = 'data/raw/2023_0304_desembarque_total_por_puerto.xlsx'
df = pd.read_excel(archivo, header=4)

# Veo las primeras filas limpias
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,ESPECIE,ENE,FEB,MAR,ABR,MAY,JUN,JUL,AGO,SEP,OCT,NOV,DIC,Total
1,Huiro Negro O Chascon,13,36,17,24,15,18,-,-,-,12,43,89,267
2,Huiro Palo,-,-,6,11,9,26,-,-,-,-,-,-,52
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Anchoveta,19127,2892,6461,999,88,-,-,1371,-,14340,26917,21030,93225
5,Atun Aleta Amarilla / Kahi Ave Ave,-,-,-,-,-,-,-,-,-,-,1,-,1
6,Bacalao De Profundidad,-,-,2,6,-,-,-,4,6,6,-,-,24
7,Bagre,-,-,-,-,-,-,-,-,-,-,-,1,1
8,Bonito,5,4,6,5,2,12,4,14,5,1,4,38,100
9,Caballa,-,-,-,-,-,-,2268,2334,5705,3027,1214,687,15235

In [6]:
import pandas as pd

archivos = [
    '2019_0304_desembarque_total_por_puerto.xlsx',
    '2020_0304_desembarque_total_por_puerto.xlsx',
    '2021_0304_desembarque_total_por_puerto.xlsx',
    '2022_0304_desembarque_total_por_puerto.xlsx',
    '2023_0304_desembarque_total_por_puerto.xlsx',
    '2024_0304_Desembarque-total-por-puerto.xlsx',
]

dfs = []  # Lista para guardar los DataFrames de cada año

for archivo in archivos:
    print(f"\nCargando {archivo} ...")
    df = pd.read_excel(f'data/raw/{archivo}', header=4)
    df['Año'] = archivo[:4]  # Extrae el año del nombre del archivo
    dfs.append(df)
    print(df.head(3))  # Muestra un avance de cada DataFrame cargado

Cargando 2019_0304_desembarque_total_por_puerto.xlsx ...
                 ESPECIE       ENE      FEB       MAR       ABR      MAY  \
0  Huiro Negro O Chascon  26.59582  63.1512  143.4148  61.41848  60.0724
1             Huiro Palo   7.27814        -    2.7566     2.506    1.969
2                    NaN       NaN      NaN       NaN       NaN      NaN

      JUN      JUL  AGO      SEP  OCT       NOV     DIC      Total   Año
0       -  29.8572    -  23.3774    -  19.16016  13.604  440.65146  2019
1  15.752    7.876    -    2.685    -     4.833  17.363   63.01874  2019
2     NaN      NaN  NaN      NaN  NaN       NaN     NaN        NaN  2019

Cargando 2020_0304_desembarque_total_por_puerto.xlsx ...
                 ESPECIE   ENE FEB    MAR    ABR    MAY   JUN   JUL    AGO  \
0  Huiro Negro O Chascon    41  13      -     22     35     -     -      -
1             Huiro Palo     1   -      -      -      5    11    11      -
2              Anchoveta  2677   -  12976  25079  15652  6417  3044  14989

  SEP    OCT    NOV   DIC     Total   Año
0   9      5      7     6     138.0  2020
1   9      4     22    20      83.0  2020
2   -  22857  28392  8689  140772.0  2020

Cargando 2021_0304_desembarque_total_por_puerto.xlsx ...
              Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                ESPECIE        ENE        FEB        MAR        ABR
1  HUIRO NEGRO O CHASCON         18          6         24         18
2             HUIRO PALO         14          9         11          -

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0        MAY        JUN        JUL        AGO        SEP         OCT
1         15         15         37         34         14          15
2         10         59          -          6         12          13

  Unnamed: 11 Unnamed: 12 Unnamed: 13   Año
0         NOV         DIC       Total  2021
1          38          19         253  2021
2          29          10         173  2021

Cargando 2022_0304_desembarque_total_por_puerto.xlsx ...
              Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                ESPECIE        ENE        FEB        MAR        ABR
1                  HUIRO          -          -          -          -
2  HUIRO NEGRO O CHASCON         14         22         27         21

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0        MAY        JUN        JUL        AGO        SEP         OCT
1          -          -          -          -          4           -
2         17         13        132        156        174         179

  Unnamed: 11 Unnamed: 12 Unnamed: 13   Año
0         NOV         DIC       Total  2022
1           -           -           4  2022
2         220          35        1010  2022

Cargando 2023_0304_desembarque_total_por_puerto.xlsx ...
              Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                ESPECIE        ENE        FEB        MAR        ABR
1  Huiro Negro O Chascon         13         36         17         24
2             Huiro Palo          -          -          6         11

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0        MAY        JUN        JUL        AGO        SEP         OCT
1         15         18          -          -          -          12
2          9         26          -          -          -           -

  Unnamed: 11 Unnamed: 12 Unnamed: 13   Año
0         NOV         DIC       Total  2023
1          43          89         267  2023
2           -           -          52  2023

Cargando 2024_0304_Desembarque-total-por-puerto.xlsx ...
              Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0                ESPECIE        ENE        FEB        MAR        ABR
1                  Huiro          -          -          -          -
2  Huiro Negro O Chascon        217        117        109        265

  Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0        MAY        JUN        JUL        AGO        SEP         OCT
1          -          -          -          -          -           -
2        280        314         84         97         59         210

  Unnamed: 11 Unnamed: 12 Unnamed: 13   Año
0         NOV         DIC       Total  2024
1           3           -           3  2024
2         290         260        2302  2024

In [7]:
# Lista de nombres de meses esperados (puede ajustar si ves variantes)
meses = ['ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEP', 'OCT', 'NOV', 'DIC']

dfs_limpios = []

for df in dfs:
    # Si el primer nombre de columna no es "ESPECIE", lo renombro
    col_0 = df.columns[0]
    if not col_0.upper().startswith('ESPECIE'):
        df = df.rename(columns={col_0: 'ESPECIE'})

    # Renombro las columnas por posición si es necesario
    columnas_nuevas = ['ESPECIE'] + meses + ['Total', 'Año']
    df.columns = columnas_nuevas[:len(df.columns)]  # Ajusta si hay columnas extra

    # Elimino filas vacías y sólo dejo las que tienen especie no nula
    df = df[df['ESPECIE'].notnull()]
    # Quito espacios en blanco en los nombres de especie
    df['ESPECIE'] = df['ESPECIE'].str.strip().str.upper()

    # Me quedo solo con la Centolla
    df_centolla = df[df['ESPECIE'].str.contains('CENTOLLA', na=False)]

    dfs_limpios.append(df_centolla)

# Uno todos los años en un solo DataFrame
df_todo_centolla = pd.concat(dfs_limpios, ignore_index=True)

# Veo un resumen final
df_todo_centolla.head(5)

/tmp/ipython-input-7-3385210137.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ESPECIE'] = df['ESPECIE'].str.strip().str.upper()

Empty DataFrame
Columns: [ESPECIE, ENE, FEB, MAR, ABR, MAY, JUN, JUL, AGO, SEP, OCT, NOV, DIC, Total, Año]
Index: []

In [8]:
meses = ['ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEP', 'OCT', 'NOV', 'DIC']

dfs_limpios = []

for df in dfs:
    col_0 = df.columns[0]
    if not col_0.upper().startswith('ESPECIE'):
        df = df.rename(columns={col_0: 'ESPECIE'})
    columnas_nuevas = ['ESPECIE'] + meses + ['Total', 'Año']
    df.columns = columnas_nuevas[:len(df.columns)]

    df = df[df['ESPECIE'].notnull()].copy()  # ¡Copiá el DF antes de modificar!
    df.loc[:, 'ESPECIE'] = df['ESPECIE'].str.strip().str.upper()

    df_centolla = df[df['ESPECIE'].str.contains('CENTOLLA', na=False)]
    dfs_limpios.append(df_centolla)

df_todo_centolla = pd.concat(dfs_limpios, ignore_index=True)
df_todo_centolla.head(5)

Empty DataFrame
Columns: [ESPECIE, ENE, FEB, MAR, ABR, MAY, JUN, JUL, AGO, SEP, OCT, NOV, DIC, Total, Año]
Index: []

In [9]:
df_todo_centolla.to_csv('data/processed/desembarque_centolla_2019_2024.csv', index=False)

# 📑 Cargar los datasets de esfuerzo pesquero, temperatura y regulaciones

Leo los archivos CSV/XLSX de datos procesados que voy a integrar al dataset principal.

In [14]:
import pandas as pd

# Cargar dataset de esfuerzo pesquero
esfuerzo = pd.read_csv('data/raw/esfuerzo_pesquero_punta_arenas_2019_2024.csv')

# Cargar dataset de temperatura superficial del mar (nombre puede variar)
# Si es Excel, usá read_excel
temperatura = pd.read_csv('data/raw/E20200016_18062025174150841_temperaturapuntaarena.csv')

# Cargar regulaciones
import pandas as pd

# Rango de años según tus datos
anios = range(2019, 2025)
meses = range(1, 13)
reg_data = []

for anio in anios:
    for mes in meses:
        veda = 1 if 2 <= mes <= 11 else 0
        reg_data.append({'Año': anio, 'Mes': mes, 'veda_centolla': veda})

regulaciones = pd.DataFrame(reg_data)
print(regulaciones.head(15))

# Verificamos las primeras filas de cada uno
print(esfuerzo.head())
print(temperatura.head())
print(regulaciones.head())

     Año  Mes  veda_centolla
0   2019    1              0
1   2019    2              1
2   2019    3              1
3   2019    4              1
4   2019    5              1
5   2019    6              1
6   2019    7              1
7   2019    8              1
8   2019    9              1
9   2019   10              1
10  2019   11              1
11  2019   12              0
12  2020    1              0
13  2020    2              1
14  2020    3              1
    Año  Mes        Puerto area_geografica tipo_arte  horas_pesca  \
0  2019    1  Punta Arenas      Magallanes   trampas          202
1  2019    2  Punta Arenas      Magallanes   trampas          279
2  2019    3  Punta Arenas      Magallanes   trampas          192
3  2019    4  Punta Arenas      Magallanes   trampas          114
4  2019    5  Punta Arenas      Magallanes   trampas          206

   embarcaciones_activas
0                      8
1                      6
2                     18
3                     10
4                     10
  DTI_CL_MES           Mes CL_T017ESTACION_SHOA Estación ambiental SHOA  \
0   2015-M01    2015 Enero              T017001                   Arica
1   2015-M02  2015 Febrero              T017001                   Arica
2   2015-M03    2015 Marzo              T017001                   Arica
3   2015-M04    2015 Abril              T017001                   Arica
4   2015-M05     2015 Mayo              T017001                   Arica

   Value  Flag Codes  Flags
0  18.28         NaN    NaN
1  20.15         NaN    NaN
2  20.69         NaN    NaN
3  19.36         NaN    NaN
4  18.27         NaN    NaN
    Año  Mes  veda_centolla
0  2019    1              0
1  2019    2              1
2  2019    3              1
3  2019    4              1
4  2019    5              1

# 🌡️ Limpieza del archivo de temperatura superficial del mar

Dejo sólo los registros del período 2019-2024, extraigo año y mes en número, y me quedo con la temperatura promedio mensual.

In [15]:
import pandas as pd

# Cargar temperatura
temperatura = pd.read_csv('data/raw/E20200016_18062025174150841_temperaturapuntaarena.csv')

# Extraigo año y mes en número de la columna 'Mes'
temperatura['Año'] = temperatura['Mes'].str.extract(r'(\d{4})').astype(int)
# Diccionario para pasar de texto a número de mes
meses_map = {
    'Enero': 1, 'Febrero': 2, 'Marzo': 3, 'Abril': 4, 'Mayo': 5, 'Junio': 6,
    'Julio': 7, 'Agosto': 8, 'Septiembre': 9, 'Octubre': 10, 'Noviembre': 11, 'Diciembre': 12
}
temperatura['Mes_num'] = temperatura['Mes'].str.extract(r'(\w+)$')[0].map(meses_map)
# Filtrar sólo 2019-2024 y quedarnos con las columnas clave
temperatura = temperatura[(temperatura['Año'] >= 2019) & (temperatura['Año'] <= 2024)]
temperatura = temperatura[['Año', 'Mes_num', 'Value']]
temperatura = temperatura.rename(columns={'Mes_num': 'Mes', 'Value': 'temp_promedio'})

print(temperatura.head())

       Año  Mes  temp_promedio
1090  2019    1          19.29
1091  2019    2          18.68
1092  2019    3          18.84
1093  2019    4          17.99
1094  2019    5          17.02

# 🔗 Integración final de todos los datasets: Centolla, Esfuerzo Pesquero, Temperatura y Regulaciones

En este paso:
- Paso el DataFrame de Centolla a formato largo (cada fila = Año, Mes, Volumen).
- Hago merge progresivo con esfuerzo pesquero, temperatura y regulaciones por Año y Mes.
- El resultado es un dataset listo para modelar y análisis.

In [16]:
# Paso 1: Derretir (melt) el DataFrame de centolla
id_vars = ['ESPECIE', 'Año', 'Total']
value_vars = ['ENE', 'FEB', 'MAR', 'ABR', 'MAY', 'JUN', 'JUL', 'AGO', 'SEP', 'OCT', 'NOV', 'DIC']
df_centolla_largo = df_todo_centolla.melt(id_vars=id_vars, value_vars=value_vars,
                                          var_name='Mes', value_name='volumen_centolla')

# Paso 2: Pasar nombre de mes a número
mes_map = {
    'ENE': 1, 'FEB': 2, 'MAR': 3, 'ABR': 4, 'MAY': 5, 'JUN': 6,
    'JUL': 7, 'AGO': 8, 'SEP': 9, 'OCT': 10, 'NOV': 11, 'DIC': 12
}
df_centolla_largo['Mes'] = df_centolla_largo['Mes'].map(mes_map)
df_centolla_largo['Año'] = df_centolla_largo['Año'].astype(int)
df_centolla_largo['Mes'] = df_centolla_largo['Mes'].astype(int)

# Paso 3: Merge con esfuerzo pesquero
df_full = df_centolla_largo.merge(esfuerzo, on=['Año', 'Mes'], how='left')

# Paso 4: Merge con temperatura
df_full = df_full.merge(temperatura, on=['Año', 'Mes'], how='left')

# Paso 5: Merge con regulaciones
df_full = df_full.merge(regulaciones, on=['Año', 'Mes'], how='left')

# Resultado final
print(df_full.head(10))

Empty DataFrame
Columns: [ESPECIE, Año, Total, Mes, volumen_centolla, Puerto, area_geografica, tipo_arte, horas_pesca, embarcaciones_activas, temp_promedio, veda_centolla]
Index: []

# 💾 Guardar dataset integrado

In [17]:
df_full.to_csv('data/processed/dataset_modelado_final.csv', index=False)